<div class="header">
	{{ if eq .Type "page" }}
		{{ if .Site.Params.Avatar }}
			<span class="avatar">
				<a href="{{ .Site.BaseURL }}">
					<img src="{{ .Site.Params.Avatar }}" alt="{{ .Site.Title }}" />
				</a>
			</span>
		{{ end }}
		<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
	{{ end }}


	<div class="site-description">
		{{- if isset .Site.Params "subtitle" -}}

			{{ if eq .Type "page" }}
				<code>{{ .Site.Params.Subtitle | markdownify }}</code>
			{{ else }}
				<span class="is-single-post-page">☕ <a class="small-site-title"href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></span>
			{{ end }}

		{{- end -}}
		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
					<li><a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a></li>
				{{- end -}}
				{{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
				<span class="scheme-toggle"><a href="#" id="scheme-toggle"></a>
				{{- end -}}
			</ul>
		</nav>
	</div>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
